@import "../../variables.scss";

.accountPopup-content {
  // width: 30% !important;
  width: 100px !important;
  min-width: 1000px;
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
  background-color: transparent !important;
  // box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25) !important;
  left: calc(50% - 500px) !important;
  border: none !important;
  z-index: 10 !important;
  padding: 0 !important;

  .popup-arrow.accountPopup-arrow {
    display: none !important;
  }
}

.settingsPopup-content {
  background: none;
  background-color: var(--vodsettingsmodalbackground) !important;
  border: thin solid rgb(59, 56, 56) !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  width: min-content !important;

  // top: 1785px !important;
  form {
    padding: 5px;
  }

  input[type="text"] {
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    background: transparent;
  }

  input[type="submit"] {
    border-radius: 5px;
    border: thin solid #484848;
    background-color: #035879;
    color: rgb(224, 224, 224);
    width: 100%;
    margin-top: 5px;
    &:hover {
      color: white;
      background-color: #097099;
    }
  }

  ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    // background-color: rgb(8, 3, 20);

    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      height: 35px;
      align-items: center;
    }

    li p {
      margin: 0;
    }
  }
}
