.settingsPopup-content {
  background-color: #080314 !important;
  border: thin solid rgb(59, 56, 56) !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  width: min-content !important;
}
