.container {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
  margin: auto;
  margin-top: 25px;
}

.video {
  display: grid;
  grid-template-areas:
    "video video"
    "title title"
    "info info";

  width: 250px;
  margin: 15px;
}

.title {
  margin-top: 10px;
  grid-area: title;
  font-size: 1.2rem;
  max-width: 250px;

  a {
    color: var(--videoTitle);

    &:hover {
      color: var(--videoTitleHover);
    }
  }
}

.imgDurationContainer {
  grid-area: video;
  transition: all 0.2s ease-in-out;
  img {
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
  }
  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  img {
    width: 250px;
    max-height: 140px;
    object-fit: cover;
  }
}

.date {
  grid-area: info;

  color: var(--greyInfo);
}

.channel {
  grid-area: info;
  justify-self: end;

  a {
    color: var(--greyInfo);

    &:hover {
      color: var(--channelHover);
    }
  }
}

.duration {
  bottom: 21px;
  position: relative;
  width: max-content;
  background: #2222228c;
  padding-right: 5px;
  font-size: 0.9rem;
  padding-left: 2px;
  border-top-right-radius: 10px;
}

.imgDurationContainer {
  max-height: 140px;
}

.lineBreak {
  border-bottom: var(--subFeedHeaderBorder);
  width: 86%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.notifiesLogin {
  width: 100px;
  left: calc(50% - 50px);
  position: relative;
  margin: 10px;
}
