* {
  box-sizing: border-box;
}

body {
  width: 40%;
  height: 100%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
  color: white;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
}

.menu {
  width: 250px;
  padding-left: 0;
}

.menu > button {
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  padding: 0;
}

.menu > button > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 3px;
}

.menu > button:hover {
  background-color: rgb(73, 114, 167);
}

tr {
  height: 30px;
}

th {
  padding: 10px 15px;
}

td {
  padding: 0 15px;
}

tr:nth-child(2n) {
  background-color: #ededed;
}

table {
  border: 1px solid black;
  border-radius: 5px;
}

body {
  margin: 8px auto;
  background: #fff;
  width: 1200px;
}

/* header {
    background-color: #ddd;
    padding: 1em;
} */

main {
  min-height: 24em;
}

footer {
  background-color: #666;
  color: #fff;
  padding: 1em;
}

table {
  border: 1px solid #ccc;
}

th {
  border-bottom: 1px solid #999;
}

td {
  padding: 0.2em;
}

td.right {
  text-align: right;
}

tr:hover {
  background-color: #eee;
}

form.label-left {
  margin-bottom: 24px;
}

form.label-left label,
form.label-left input[type="text"],
form.label-left input[type="number"],
form.label-left input[type="email"],
form.label-left select {
  height: 20px;
  margin-bottom: 4px;
}

form.label-left label,
form.label-left label {
  display: inline-block;
  width: 5em;
  float: left;
  padding-top: 6px;
  padding-right: 1em;

  /* text-align: right; */
}

form.label-left label::after {
  content: ":";
}

form.label-left input[type="text"],
form.label-left input[type="number"],
form.label-left input[type="email"],
form.label-left select {
  display: block;
  width: 20em;
  height: 25px;
}

/* navbar */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(15, 130, 184);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.edit-status-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.2rem;
}

table a,
table a:visited {
  color: black;
}

input[readonly] {
  border: none;
  font-weight: bold;
}
