.vodDates {
  // grid-area: info;
  color: var(--greyInfo);
  font-size: 0.95rem;
  grid-column: 3;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: right;
  justify-self: right;

  & > div:hover {
    #timeago {
      display: none;
    }

    #time {
      display: flex;
    }
  }

  #time {
    display: none;
  }
}

.vodVideoInfo {
  bottom: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  align-items: center;
  height: 30px;
}

.viewers {
  position: relative;
  display: flex;
  justify-content: flex-end;

  // top: 7px;
  grid-column: 3;
  padding-right: 10px;
  margin-bottom: 0;
  align-items: center;
}

.date {
  position: relative;
  display: flex;
  justify-content: flex-end;

  // top: 7px;
  grid-column: 3;
  padding-right: 10px;
  margin-bottom: 0;
  align-items: center;

  &::after {
    content: "ago";
    padding-left: 5px;
  }
}

.duration {
  position: relative;
  width: max-content;
  background: #2222228c;
  padding-right: 5px;
  font-size: 0.9rem;
  padding-left: 5px;
  z-index: 1;
  height: 24px;
  bottom: 28px;
  left: 4px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background: #161616b0;
}

.vodDuration {
  width: max-content;
  background: #2222228c;
  padding-right: 5px;
  padding-left: 5px;
  background: #161616b0;
  margin: 0;
  margin-left: 3px;
  border-radius: 12px;
  height: 24px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.view_count {
  width: max-content;
  padding-right: 5px;
  padding-left: 5px;
  background: #161616b0;
  margin: 0;
  margin-right: 3px;
  border-radius: 12px;
  height: 24px;
  display: flex;
  align-items: center;
}

.channelContainer {
  display: grid;
  height: 26px;
  align-content: center;
  margin-bottom: 5px;
  grid-template-columns: min-content;
  width: inherit;

  .profile_img {
    width: 26px;
    border-radius: 3px;
  }

  .channel {
    padding: 0 5px;
    font-weight: bold;
    color: var(--infoColorGrey);
    grid-row: 1;
    width: max-content;
    transition: color 250ms;

    &:hover {
      color: var(--channelHover);
    }
  }

  &:hover {
    button,
    svg {
      opacity: 1;
    }
  }
}

.gameContainer {
  display: grid;
  grid-template-columns: 10% 50% 40%;
  width: 336px;
  align-items: center;
  min-height: 34px;
  transition: color 250ms;

  .game_img {
    width: 26px;
    border-radius: 3px;
    grid-column: 1;
    object-fit: cover;
    padding: 0;
  }

  .game {
    padding-left: 5px;
    grid-column: 2;
    bottom: 20px;
    background: none;
    padding-right: 5px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 250ms;
    color: var(--infoColorGrey);

    &:hover {
      color: var(--infoHover);
    }
  }
}

.channelContainer a {
  font-size: 1rem !important;
  height: 100%;
  display: flex;
  align-items: center;
}

.StreamHoverIframe {
  border: none;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
  max-width: 360px;

  position: absolute;
  display: block;
}

.vodPreview {
  animation: animateVodPreview 5s steps(9);
  animation-fill-mode: forwards;
  object-fit: cover;
  background-size: cover;

  //animation: animateVodPreview 5s;
  //animation-delay: 0.5s;
  //image-rendering: optimizequality;
  //image-rendering: crisp-edges;
  //image-rendering: optimizespeed;
}

.newHighlight {
  position: absolute;
  left: 0;
  height: 45.6px;
  width: 4px;
  border-radius: 2px;
  background: var(--newHighlight);
}

@keyframes animateVodPreview {
  from {
    background-position-y: 1890px;
  }
  to {
    background-position-y: 189px;
  }
}
