<!DOCTYPE html>
<meta charset="utf-8" />
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css" />
<link rel="icon" href="/logo-white-v2.png" />
<script src="https://use.fontawesome.com/0aee473986.js"></script>
<script src="../../public/js/main.js"></script>

<header>
  <nav class="navbar">
    <a href="/notifies">Notifies</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="window.location.href = '/notifies/vod-channels';">
        Vod-channels
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/notifies/vod-channels">Vod-channels</a>
      </div>
    </div>
  </nav>
</header>
