<%- include("header", {title: title}); %>

<h1>Notifies database server</h1>

<h3>Stored client based information.</h3>

<ul class="menu">
  <button><a href="/notifies/vod-channels">Followed vod channels</a></button>
</ul>

<%- include("footer"); %>
