.listHorizontalSlide-appear {
  opacity: 0;
  margin-top: -392px;
  overflow: hidden;
  transition: opacity 750ms, margin-top 1000ms;
}
.listHorizontalSlide-appear-active {
  opacity: 1;
  margin-top: 0px;
  overflow: unset;
  transition: opacity 750ms, margin-top 1000ms;
}

.listHorizontalSlide-enter {
  opacity: 0;
  margin-top: -392px;
  overflow: hidden;
  transition: opacity 750ms, margin-top 1000ms;
}

.listHorizontalSlide-enter-active {
  opacity: 1;
  margin-top: 0px;
  overflow: unset;
  transition: opacity 750ms, margin-top 1000ms;
}

.listHorizontalSlide-exit {
  opacity: 1;
  margin-top: 0px;
  overflow: unset;
  transition: opacity 750ms, margin-top 1000ms;
}

.listHorizontalSlide-exit-active {
  opacity: 0;
  margin-top: -392px;
  overflow: hidden;
  transition: opacity 750ms, margin-top 1000ms;
}

.listHorizontalSlide-exit-done {
  opacity: 0;
  margin-top: -392px;
  overflow: hidden;
  transition: opacity 750ms, margin-top 1000ms;
}
