@import "./../../variables.scss";

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

.video {
    display: grid;
    grid-template-areas:
        "video video"
        "title title"
        "info info";

    width: 250px;
    margin: 15px;
    max-height: 250px;
}

.title {
    margin-top: 10px;
    grid-area: title;
    font-size: 1.2rem;
    max-width: 250px;
    overflow: hidden;

    a {
        color: $videoTitle;

        &:hover {
            color: lighten($videoTitle, 30%);
        }
    }
}

.imgContainer {
    grid-area: video;
    transition: all 0.2s ease-in-out;
    img {
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
    }
    &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    img {
        width: 250px;
        max-height: 140px;
        object-fit: cover;
    }
}

.date {
    grid-area: info;

    color: $greyInfo;
}

.channel {
    grid-area: info;
    justify-self: end;

    a {
        color: $greyInfo;

        &:hover {
            color: lighten($greyInfo, 30%);
        }
    }
}

.duration {
    bottom: 21px;
    position: relative;
    width: max-content;
    background: #2222228c;
    padding-right: 5px;
    font-size: 0.9rem;
    padding-left: 2px;
    border-top-right-radius: 10px;
}

.imgContainer {
    max-height: 140px;
    min-height: 140px;
}

.domainTitle {
    text-align: center;
}

.liveDot {
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 7px;
    bottom: 41px;
    position: relative;
    right: -234px;
}

.refreshButton {
    position: relative;
    left: 5.5%;
    bottom: -20px;
}

.lastRender {
    position: relative;
    left: 185px;
    top: 30px;
    color: $greyInfo;
}

@media screen and (max-width: 1920px) {
    .container {
        width: 80%;
    }

    .refreshButton {
        left: 10.5%;
    }
}
