.container {
  display: flex;
  flex-wrap: wrap;
  // width: 87%;
  width: 82%;
  margin: auto;
  margin-top: 25px;
  // margin-bottom: 100px;
  padding-bottom: 100px;
}

.video {
  display: grid;
  grid-template-areas:
    "video video"
    "title title"
    "info info";

  width: 320px;
  margin: 15px;
  max-height: 320px;
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
  grid-area: title;
  font-size: 1.2rem;
  max-width: 320px;
  overflow: hidden;

  a {
    color: var(--videoTitle);
    width: 100%;
    display: block;

    &:hover {
      color: var(--videoTitleHover);
    }
  }
}

.imgContainer {
  grid-area: video;
  transition: all 0.2s ease-in-out;
  img {
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
  }
  &:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
  }
  img {
    width: 320px;
    max-height: 180px;
    object-fit: cover;
  }
}

.date {
  grid-area: info;
  color: var(--greyInfo)
}

.channel {
  grid-area: info;
  justify-self: end;

  a {
    color: var(--greyInfo)

    &:hover {
      color: var(--InfoHover);
    }
  }
}

.duration {
  // bottom: 21px;
  position: relative;
  width: max-content;
  background: #2222228c;
  padding-right: 5px;
  font-size: 0.9rem;
  // padding-left: 2px;
  border-top-right-radius: 10px;

  padding-left: 5px;
  height: 24px;
  bottom: 28px;
  left: 4px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background: #161616b0;
}

.imgContainer {
  max-height: 180px;
  min-height: 180px;
}

.domainTitle {
  text-align: center;
}

.liveDot {
  width: 14px;
  height: 14px;
  background-color: red;
  border-radius: 7px;
  bottom: 41px;
  position: relative;
  right: -234px;
}

.refreshButton {
  color: var(--refreshButtonColor);
  background: var(--refreshButtonBackground);
  box-shadow: var(--refreshButtonShadow);
  border: var(--refreshButtonBorder);
  position: relative;
  left: 0.5%;
  bottom: -23px;

  &:hover {
    color: var(--refreshButtonHoverColor);
    background: var(--refreshButtonHoverBackground);
  }
}

.lastRefresh {
  position: relative;
  left: 35px;
  top: 32px;
  color: var(--greyInfo);
}

.requestError {
  left: 125px;
  padding: 5px;
  opacity: 0.8;
  display: inline;
  top: 23px;
  margin: 0;
}

.container_header {
  text-align: center;
  color: var(--subFeedHeaderColor);
  margin: auto;
  letter-spacing: 1px;
}

.header_div {
  // width: 87%;
  width: 82%;
  margin: auto;
  border-bottom: var(--subFeedHeaderBorder);
  margin-top: 25px;
  padding-bottom: 7px;
}

.VideoHoverIframe {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  display: block;
  background-color: transparent;
  background: none;
  // margin: 15px;
}

@media screen and (max-width: 2560px) {
  .container {
    // width: 91%;
    width: 82.5%;
  }

  .header_div {
    // width: 91%;
    width: 82.5%;
  }

  .refreshTimer {
    left: 225px;
  }
}

@media screen and (max-width: 1920px) {
  .container {
    // width: 86.5%;
    width: 73.5%;
  }

  .header_div {
    // width: 86.5%;
    width: 73.5%;
  }

  .refreshButton {
    left: 1%;
  }

  .lastRefresh {
    left: 45px;
  }
}
