@import "./../../variables.scss";

.formTitle {
  border-bottom: 2px solid var(--greyInfo);
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 40px;
}

.createForm {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.accountContainer {
  width: min-content;
  // width: 40%;
  min-width: 1000px;
  margin: auto;
  display: grid;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: var(--AccountContainerBackgroundColor);
  // margin-top: 50px;
  margin-top: 25px;
  padding: 25px;
  // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25) !important;

  .profileImage {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    object-fit: cover;
    width: 300px;
    height: 169px;
  }

  .disconnectButton {
    background-color: #333;
    width: max-content;
    min-width: 170px;
    height: 42.5px;
    border: thin solid #313131;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:hover {
      background-color: lighten(#8a1f1f, 10%);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem lighten(#5c1313, 20%);
    }

    &:active {
      background-color: lighten(#791313, 25%);
      border-color: lighten(#581010, 35%);
    }
  }

  .connectButtons {
    width: max-content;
    margin-left: 0;
    height: 42px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .connectTwitch {
    background-color: #42107d;
    width: max-content;
    margin-left: 0;
    height: 42px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: thin solid lighten(#42107d, 0%);

    &:hover {
      background-color: lighten(#42107d, 10%);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem lighten(#42107d, 20%);
    }

    &:active {
      background-color: lighten(#42107d, 25%);
      border-color: lighten(#42107d, 35%);
    }
  }

  .connectYoutube {
    background-color: #4b1010;
    width: max-content;
    margin-left: 0;
    height: 42px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: thin solid lighten(#4b1010, 0%);

    &:hover {
      background-color: lighten(#4b1010, 10%);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem lighten(#4b1010, 20%);
    }

    &:active {
      background-color: lighten(#4b1010, 25%);
      border-color: lighten(#4b1010, 35%);
    }
  }

  .connected {
    color: #fff;
    font-size: 1rem;
    width: max-content;
    padding: 7px;
    min-width: 220px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 50px;
    height: min-content;
    margin-bottom: 0;
  }

  .twitchConnected {
    border: thin solid lighten(#42107d, 10%);
    background-color: #42107d;
  }

  .youtubeConnected {
    border: thin solid lighten(#4b1010, 10%);
    background-color: #4b1010;
  }
}

.notifiesLogoutButton {
  margin-top: 75px;
  width: max-content;
  padding: 7px;
  min-width: 220px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: min-content;
}

.profileContainer {
  display: grid;
  grid-template-columns: 320px 125px auto;
  margin-bottom: 50px;
  // margin-top: 50px;
  //   justify-content: center;

  .prefixs {
    align-self: center;

    p {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  .names {
    align-self: center;
    p {
      font-size: 1.3rem;
    }
  }

  img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}

.connectContainer {
  display: flex;
}

.toggleContainer {
  display: flex;
}

.ToggleSwitch {
  // width: max-content;
  display: flex;
  height: 40px;
  align-items: center;
  // width: 200px;
  width: 250px;
  justify-content: space-between;
  margin-right: 100px;

  span {
    padding-right: 15px;
    font-size: 1.1rem;
    font-weight: bold;
  }
}

.UpdateProfileImgButton {
  font-size: 0.9rem;
  grid-row: 2;
  width: max-content;
  border-radius: 18px;
  margin-top: 5px;
  justify-self: center;
}

.lastButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.createAccountContainer {
  padding: 25px 25px 100px 25px;
  background: var(--AccountContainerBackgroundColor);
  margin-top: 25px;
  width: min-content;
  min-width: 1000px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.themeSelector {
  label {
    display: flex;
    flex-direction: column;
    width: max-content;
    min-width: 150px;
  }
  select {
    word-wrap: normal;
    background: #2d5470;
    border: none;
    color: white;
    border-radius: 5px;

    &:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
  }
}
