$greyInfo: rgb(151, 151, 151);
$videoTitle: rgb(240, 240, 240);

html {
  --backgroundImg: url("/images/background5.png");
  --scrollbarColors: rgb(18, 36, 58) rgb(5, 8, 10);
  --navigationbarBackground: #0000003d;
  --backgroundBlue: #01010b;
  --primaryPurple: #040113;
  --textColor: rgb(240, 240, 240);
  --headerLogoTextColor: rgb(240, 240, 240);
  --headerTextColor: rgba(255, 255, 255, 0.5);
  --headerTextColorActive: rgba(255, 255, 255, 1);
  --greyInfo: rgb(100, 100, 100);
  --videoTitle: rgb(240, 240, 240);
  --videoTitleHover: rgb(255, 255, 255);
  --channelHover: rgb(179, 30, 248);
  --subFeedHeaderColor: rgb(124, 124, 124);
  --AccountContainerBackgroundColor: #081016;
  --ModalCloseButtonColor: rgba(240, 240, 240, 0.8);
  --ModalCloseButtonColorHover: white;
  --vodsettingsmodalbackground: #070817f2;
  --refreshButtonBorder: thin solid #2d2d2d;
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --subFeedHeaderBorder: 2px solid #80808029;
  --Info: rgb(151, 151, 151);
  --InfoHover: lighten($greyInfo, 50%);
  --refreshButtonBackground: hsla(0, 0%, 0%, 0.1);
  --refreshButtonHoverColor: #ffffff;
  --refreshButtonColor: #6c757d;
}

html[data-theme="christmas"] {
  --backgroundImg: url("/images/wood-christmas4.jpg");
  --scrollbarColors: rgb(207, 5, 16) rgb(43, 31, 31);
  --navigationbarBackground: #00000059;
  --backgroundBlue: #01010b;
  --primaryPurple: #040113;
  --textColor: rgb(240, 240, 240);
  --headerLogoTextColor: rgb(240, 240, 240);
  --headerTextColor: rgba(255, 255, 255, 0.5);
  --headerTextColorActive: rgba(255, 255, 255, 1);
  --greyInfo: rgb(175, 175, 175);
  --videoTitle: rgb(240, 240, 240);
  --videoTitleHover: rgb(240, 240, 240);
  --channelHover: rgb(255, 255, 255);
  --subFeedHeaderColor: #aeb0b3;
  --AccountContainerBackgroundColor: #000000e3;
  --ModalCloseButtonColor: rgba(240, 240, 240, 0.8);
  --ModalCloseButtonColorHover: white;
  --vodsettingsmodalbackground: #070817f2;
  --refreshButtonBorder: thin solid #2d2d2d;
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --subFeedHeaderBorder: 2px solid #80808029;
  --Info: rgb(151, 151, 151);
  --InfoHover: lighten($greyInfo, 50%);
  --refreshButtonBackground: #00000026;
  --refreshButtonColor: #a8a8a8;
  --refreshButtonHoverColor: #1cca05;
}

html[data-theme="new year's eve"] {
  --backgroundImg: url("/images/new years eve33.jpg");
}
