@import "../../variables.scss";
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  height: 75px;
  position: fixed;
  width: 100vw;
  background-color: var(--navigationbarBackground) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;

  a {
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
  }
}

nav[mode="fixed"].navbar.navbar-expand-lg.navbar-dark.bg-dark {
  height: 75px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  background-color: var(--navigationbarBackground) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

nav[shrink="true"].navbar.navbar-expand-lg.navbar-dark.bg-dark {
  height: 50px;
  padding: 0 30px 0 25px !important;
  background-color: hsla(0, 0%, 0%, 0.8) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

  a {
    font-size: 16px !important;
  }

  div img {
    width: 40px;
  }
}

nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  height: 75px;

  .logo-link {
    padding: unset;
    height: 100%;

    .logo {
      padding: 7px 10px;
      width: unset;
      height: 100%;
    }
  }
}

// .bg-dark {
//   background-color: #081016d1 ;
// }

.navbar-nav a.nav-link {
  font-size: 1.15rem;
}

.container {
  .mr-auto.navbar-nav {
    justify-content: center;
  }

  .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.logo-link.nav-link {
  color: var(--headerLogoTextColor);
  font-size: 1.3rem;
  margin-right: 130px;
}

#responsive-navbar-nav {
  height: inherit;
}

.navbar-nav {
  height: inherit;
  min-width: 280px;
}

.dropdown-menu {
  left: -60px !important;
  text-align: center;
}

.dropdown.nav-item,
.show.dropdown.nav-item {
  align-items: center;
  display: flex;
}

// .bg-dark {
//   background-color: var(--navigationbarBackground) !important;
//   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
// }

.popup-overlay {
  // visibility: hidden;
  margin-top: 75px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--headerTextColorActive);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--headerTextColor);
  // color: darken($textColor, 50%);
}
