nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  height: 75px;

  .logo-link {
    padding: unset;
    height: 100%;

    .logo {
      padding: 7px 10px;
      width: unset;
      height: 100%;
    }
  }
}

// .bg-dark {
//   background-color: #081016d1 ;
// }

.navbar-nav a.nav-link {
  font-size: 1.15rem;
}

.container {
  .mr-auto.navbar-nav {
    justify-content: center;
  }

  .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.logo-link.nav-link {
  color: white;
  font-size: 1.3rem;
  width: 280px;
}

.navbar-nav {
  min-width: 280px;
}

.dropdown-menu {
  left: -60px !important;
  text-align: center;
}

.dropdown.nav-item,
.show.dropdown.nav-item {
  align-items: center;
  display: flex;
}

.bg-dark {
  background-color: #0000003d !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}
