.navProfile {
  width: 65px;
  margin-left: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.notifiesLogin {
  width: 100px;
  left: calc(50% - 50px);
  position: relative;
}
