.navProfile {
  width: 60px;
  margin-left: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  object-fit: cover;
  height: 60px;
}

.notifiesLogin {
  width: 100px;
  left: calc(50% - 50px);
  position: relative;
}

.navProfileContainer {
  align-self: center;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
