@import "./../../variables.scss";

.video-container {
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    margin: auto;
}
.video {
    display: grid;
    grid-template-areas:
        "video video"
        "title title"
        "date channel";
    // "info info";

    width: 250px;
    margin: 10px;

    .video-title {
        margin-top: 10px;
        grid-area: title;
        font-size: 1.2rem;

        a {
            color: $videoTitle;

            &:hover {
                color: lighten($videoTitle, 30%);
            }
        }
    }
    .video-img {
        grid-area: video;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        img {
            width: 250px;
        }
    }
    .video-date {
        grid-area: date;

        color: $greyInfo;
    }
    .video-channel {
        grid-area: channel-start;
        justify-self: end;

        a {
            color: $greyInfo;

            &:hover {
                color: lighten($greyInfo, 30%);
            }
        }
    }
}
