//fade 2500ms
.fadeout-2500ms-enter {
  opacity: 1;
}
.fadeout-2500ms-enter-active {
  opacity: 0;
  transition: opacity 2500ms;
}
.fadeout-2500ms-exit {
  opacity: 0;
}
.fadeout-2500ms-exit-active {
  opacity: 1;
  transition: opacity 2500ms;
}

//fade 1s
.fade-1s-enter {
  opacity: 0;
  transition: opacity 1000ms;
}
.fade-1s-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-1s-exit {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-1s-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.fade-1s-exit-done {
  opacity: 0;
  transition: opacity 1000ms;
}

.fade-controllUI-1s-enter {
  opacity: 0;
  transition: opacity 1000ms;
}
.fade-controllUI-1s-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-controllUI-1s-exit {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-controllUI-1s-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.fade-controllUI-1s-exit-done {
  opacity: 0;
  transition: opacity 500ms;
}

//fade 300ms
.fade-300ms-enter {
  opacity: 0;
}
.fade-300ms-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-300ms-exit {
  opacity: 1;
}
.fade-300ms-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.fade-300ms-exit-done {
  opacity: 0;
}

//Videofade 1s
.videoFade-1s-enter {
  opacity: 0;
  width: 0px !important;
  max-width: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  transition: opacity 1000ms, margin-left 1000ms, width 1000ms, margin-right 1000ms,
    max-width 1000ms;
}
.videoFade-1s-enter-active {
  opacity: 1;
  width: 336px !important;
  max-width: 336px !important;
  margin-right: 7px !important;
  margin-left: 7px !important;
  transition: opacity 1000ms, margin-left 1000ms, width 1000ms, margin-right 1000ms,
    max-width 1000ms;
}
.videoFade-1s-exit {
  opacity: 1;
  width: 336px !important;
  max-width: 336px !important;
  margin-right: 7px !important;
  margin-left: 7px !important;
  transition: opacity 1000ms, margin-left 1000ms, width 1000ms, margin-right 1000ms,
    max-width 1000ms;
}
.videoFade-1s-exit-active {
  opacity: 0;
  width: 0px !important;
  max-width: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  transition: opacity 1000ms, margin-left 1000ms, width 1000ms, margin-right 1000ms,
    max-width 1000ms;
}

//fade 05s
.fade-05s-enter {
  opacity: 0;
}
.fade-05s-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-05s-exit {
  opacity: 1;
}
.fade-05s-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

//fade 0.2s for fade-02s.
.fade-02-enter {
  opacity: 0;
}
.fade-02-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-02-exit {
  opacity: 1;
}

.fade-02-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in, transition;
}

//fadeSlide-right-1s 1s
.fadeSlide-right-1s-enter {
  opacity: 0;
  //max-width: 0px;
  right: -336px;
  transition: opacity 500ms, right 500ms;
}
.fadeSlide-right-1s-enter-active {
  opacity: 1;
  //max-width: 300px;
  right: 0;
  transition: opacity 500ms, right 500ms;
}
.fadeSlide-right-1s-exit {
  opacity: 1;
  //max-width: 300px;
  right: 0;
  transition: opacity 500ms, right 500ms;
}
.fadeSlide-right-1s-exit-active {
  opacity: 0;
  //width: 0px;
  //max-width: 0px;
  right: -336px;
  transition: opacity 500ms, right 500ms;
}

.fadeSlide-right-1s-enter-done {
  right: 0;
}

//sidebarVideoFade 1s
.sidebarVideoFade-1s-enter {
  opacity: 0;
  top: 62px;
  height: 0px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarVideoFade-1s-enter-active {
  opacity: 1;
  top: 0;
  height: 62px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarVideoFade-1s-exit {
  opacity: 1;
  //top: 0;
  height: 62px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarVideoFade-1s-exit-active {
  opacity: 0;
  //top: 62px;
  height: 0px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarTitlePopup-enter {
  opacity: 0;
  left: 0;
  transition: opacity 500ms cubic-bezier(0.23, 0.82, 0, 0.7),
    left 1500ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-enter-active {
  opacity: 1;
  left: 275px;
  transition: opacity 500ms cubic-bezier(0.23, 0.82, 0, 0.7),
    left 1500ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-exit {
  opacity: 1;
  left: 275px;
  transition: opacity 500ms cubic-bezier(0.23, 0.82, 0, 0.7),
    left 1500ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-exit-active {
  opacity: 0;
  left: 0;
  transition: opacity 500ms cubic-bezier(0.23, 0.82, 0, 0.7),
    left 1500ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-enter-done {
  left: 275px;
  opacity: 1;
}
