html,
html[data-theme="original"] {
  --backgroundImg: url("/images/woodCoffe-blur4.0.webp");
  --backgroundImgSize: cover;
  --backgroundImgRepeat: no-repeat;

  --textColor1: rgb(245, 245, 245);
  --textColor1Hover: #ffffff;
  --textColor2: rgb(175, 175, 175);
  --textColor2Hover: #ffffff;

  --videoContainerBackgroundColor: rgba(0, 0, 0, 0.05);

  --footerShadow: 0 0 100px 0 black;
  --navTextColor: rgba(255, 255, 255, 0.5);
  --navigationbarBackground: #050a0fc7;
  --newHighlightColor: #ffffff;

  --popupListsBackground: linear-gradient(rgba(0, 0, 0, 0.4) 0%, #000000d8 15%);
  --subFeedHeaderBorder: 2px solid #bebebe29;

  --refreshButtonBackground: #00000026;
  --refreshButtonBorder: thin solid #2d2d2d;
  --refreshButtonColor: #dcdcdd;
  --refreshButtonHoverBackground: #00000067;
  --refreshButtonHoverColor: #ffffff;
  --refreshButtonHoverBorder: 1px solid #00000026;
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --scrollbarColors: rgb(51, 51, 51) #14181bca;

  --videoBoxShadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
  --twitterBackground: #1010108c;
  --footerBackground: rgba(0, 0, 0, 0.5);
}

html[data-theme="christmas"] {
  --backgroundImg: url("/images/wood-christmas-blured.webp");
  --textColor2: rgb(160, 160, 160);
  --textColor2Hover: rgb(255, 255, 255);
  --footerShadow: 0 0 20px 0 #141414;
  --greyInfo: rgb(255, 255, 255);
  --navTextColor: rgba(255, 255, 255, 0.5);

  --navigationbarBackground: rgba(0, 0, 0, 0.75);
  --popupListsBackground: linear-gradient(rgba(0, 0, 0, 0.4) 0%, #000000d8 15%);
  --refreshButtonBackground: #0000007a;
  --refreshButtonBorder: none;
  --refreshButtonColor: #a8a8a8;
  --refreshButtonHoverBackground: #333435;
  --refreshButtonHoverColor: #ffffff;
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --scrollbarColors: rgb(240, 240, 240) rgb(43, 31, 31);
  --subFeedHeaderBorder: 2px solid #80808029;
}

html[data-theme="new year's eve"] {
  --backgroundImg: url("/images/new years eve33.webp");
  --footerShadow: 0 0 50px 0 #242424;
  --refreshButtonHoverBackground: #000000b2;
  --scrollbarColors: rgb(18, 36, 58) rgb(5, 8, 10);
}

html[data-theme="clean"] {
  --backgroundImg: url("/images/clean.png");
  --navigationbarBackground: #1c1f22;
  --scrollbarColors: #3d3d3d var(--navigationbarBackground);
}

html[data-theme="stone"] {
  --backgroundImg: url("/images/stone.webp");
  --navigationbarBackground: #121415a8;
  --scrollbarColors: #1c1f22 rgb(5, 8, 10);
}

html[data-theme="simple dark"] {
  --backgroundImg: none;
  --backgroundColor: #101010;
  --scrollbarColors: #1c1f22 rgb(5, 8, 10);

  --navigationbarBackground: #2e2e2e45;
  --navTextColor: rgba(255, 255, 255 0.7);
  --videoBoxShadow: rgba(63, 63, 63, 0.4) 4px 4px 8px;
  --twitterBackground: #3d3d3d44;
}

html[data-theme="light"] {
  --backgroundImg: none;
  --backgroundImgSize: unset;
  --backgroundImgRepeat: unset;
  --backgroundColor: #f1f1f1;

  --textColor1: rgb(10, 10, 10);
  --textColor1Hover: rgb(24, 24, 24);
  --textColor2: rgb(32, 32, 32);
  --textColor2Hover: #464646;

  --videoContainerBackgroundColor: rgba(0, 0, 0, 0);

  --footerShadow: none;
  --navTextColor: rgb(10, 10, 10);

  --navigationbarBackground: #ffffffe1;
  --newHighlightColor: rgb(20, 100, 200);
  --popupListsBackground: linear-gradient(rgba(255, 255, 255, 0.65) 0%, #efefef 15%);

  --refreshButtonBackground: rgb(230, 230, 230);
  --refreshButtonBorder: thin solid #eeeeee;
  --refreshButtonColor: #2a2a2a;
  --refreshButtonHoverBackground: rgb(255, 255, 255);
  --refreshButtonHoverColor: #1d1d1d;
  --refreshButtonHoverBorder: 1px solid rgb(255, 255, 255);
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --scrollbarColors: rgb(41, 41, 41) rgb(255, 255, 255);

  --subFeedHeaderBorder: 2px solid #29292988;

  --footerBackground: #00000021;
  --twitterBackground: #ffffff;
}

html[data-theme="neon"] {
  --backgroundImg: none;
  --backgroundColor: #1c1f28;

  --textColor1: rgb(245, 245, 245);
  --textColor1Hover: #ffffff;
  --textColor2: #9ca2b7;
  --textColor2Hover: rgb(220, 227, 255);

  --videoBoxShadow: rgba(5, 5, 5, 0.3) 4px 4px 8px;

  --navigationbarBackground: #080d11e1;

  --scrollbarColors: #454b61 #1c1f28;
}
