@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // font-family: "Fira Code", monospace;
}

code {
  font-family: "Fira Code", monospace, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: $backgroundBlue;
  color: $textColor;

  // background-image: url("https://i.imgur.com/Z2Mr5eg.jpg");
  background-image: url("https://i.imgur.com/wBNRIOx.jpg");
  object-fit: cover !important;
  background-attachment: fixed !important;
}

a:hover {
  text-decoration: none;
}

body {
  background: no-repeat center center fixed;
  background-attachment: fixed;
  color: $textColor;
  background-image: url("/images/background5.png");
  object-fit: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
