@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./override.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // font-family: "Fira Code", monospace;

  background: no-repeat center center fixed;
  background-attachment: fixed;
  color: $textColor;
  background-image: url("/images/background5.png");
  // background-image: url("/images/wood3.jpg");
  // background-image: url("/images/wood5.jpg");
  object-fit: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: "Fira Code", monospace, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  text-decoration: none;
}

:root {
  scrollbar-color: rgb(18, 36, 58) rgb(5, 8, 10);
  scrollbar-width: thin;
}
