@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // font-family: "Fira Code", monospace;

  background: no-repeat center center fixed;
  background-attachment: fixed;
  color: $textColor;
  background-image: url("/images/background5.png");
  // background-image: url("/images/wood3.jpg");
  // background-image: url("/images/wood5.jpg");
  object-fit: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: "Fira Code", monospace, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  text-decoration: none;
}

.tooltip-inner {
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #2c2c2cf1;
  max-width: unset;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
}

.btn {
  padding: 0.5rem 0.75rem;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  box-shadow: 3px 3px 3px 0px #201f1f;
}
