.tooltip-inner {
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #131313;
  max-width: unset;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
}

.btn {
  padding: 0.5rem 0.75rem;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  // box-shadow: 3px 3px 3px 0px #201f1f;
  box-shadow: var(--refreshButtonShadow);
}

.dropdown-menu {
  background-color: #16161fd4;
}

.dropdown-item {
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.example-enter {
  opacity: 0.01;
}
