.tooltip-inner {
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #2c2c2cf8;
  max-width: unset;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
}

.btn {
  padding: 0.5rem 0.75rem;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  // box-shadow: 3px 3px 3px 0px #201f1f;
  box-shadow: var(--refreshButtonShadow);
}

.dropdown-menu {
  background-color: #16161fd4;
}

.dropdown-item {
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -ms-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
}
