.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  //height: 75px;
  height: 65px;
  width: 100%;
  // background-color: transparent !important;
  background: var(--navigationbarBackground) !important;
}

a.nav-link {
  font-size: 20px;
}

nav[mode="fixed"].navbar.navbar-expand-lg.navbar-dark.bg-dark {
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav[shrink="true"].navbar.navbar-expand-lg.navbar-dark.bg-dark {
  height: 50px;
  padding: 0 30px 0 10px !important;
  // background-color: hsla(0, 0%, 0%, 0.7) !important;
  // background-color: transparent !important;
  background-color: #0000005c !important;
  // background: var(--navigationbarBackgroundFixed) !important;

  a {
    font-size: 16px;
  }

  #NavigationProfileImage {
    width: 40px;
    box-shadow: 0px 0px 3px #000000;

    &:hover {
      box-shadow: 0px 0px 8px #000000;
    }
  }

  #NavigationProfileImageHoverOverlay {
    width: 40px;
  }
}

nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  height: 75px;

  .logo-link {
    padding: unset;
    height: 100%;

    .logo {
      padding: 7px 10px;
      width: unset;
      height: 100%;
    }
  }
}

.navbar-nav a.nav-link {
  font-size: 1.15rem;
}

.container {
  .mr-auto.navbar-nav {
    justify-content: center;
    margin: auto;
  }

  .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.logo-link.nav-link {
  color: var(--navLogoTextColor);
  font-size: 1.3rem;
  margin-right: 95px;
}

#responsive-navbar-nav {
  height: inherit;
}

.navbar-nav {
  height: inherit;
  // min-width: 280px;
  min-width: 218px;
}

.dropdown-menu {
  left: -60px !important;
  text-align: center;
  background-color: var(--navigationbarBackground);
}

.dropdown.nav-item,
.show.dropdown.nav-item {
  align-items: center;
  display: flex;
}

.popup-overlay {
  margin-top: 75px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--navTextColorActive);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--navTextColor);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--navTextHoverColor) !important;
}
